<!DOCTYPE html>
<html lang='en'>
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ siteName }}{% endblock title %}</title>
        <script
          src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
          integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
          crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
        <div class="container-fluid main-container">
          {% block content %}
          {% endblock content %}
        </div> <!-- end .main-container -->
        {% block body_imports %}
        {% endblock body_imports %}
        {% block body_js %}
        {% endblock body_js %}
      </body>
</html>
